.panel {
	background-color: rgb(32, 32, 32);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
}
.retime {
    border-radius: 2px;
    outline: 0 !important;
    background-color: #000000;
    border-color: rgba(255,255,255,.13);
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    padding: 5px;
    margin-bottom: 2px;
}
.just_a_little_padding {
 	padding-right: 5px;
    padding-left: 5px;
}
.frame_input {
    width: 200px;
    margin-right: 50px;
}
#framerate {
    width: 30px;
    margin-right: 250px;
    margin-left: 21px;
}
#startobj {
	margin-left: -7px;
}

#mod_message {
 	width: 300px;
    margin-left: 5px;
}
#mod_message_button {
    cursor: pointer;
    text-shadow: none;
    color: rgba(0, 0, 0, 1) !important;
    background-color: #EDEDED;
    border-color: #EDEDED;
    outline: 0 !important;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem;
    padding: 3px 139px 3px 139px;
    margin-left: 5px;
    margin-bottom: 15px;
}